addons:
  apt:
    packages:
      - binutils-dev
      - libcurl4-openssl-dev
      - libdw-dev
      - libiberty-dev
      - python3

language: bash

sudo: required

services:
  - docker

env:
  global:
    - CODECOV_TOKEN=485e32cd-5552-43dc-a656-25dc8d2a07d5
    - PATH=${PATH}:${HOME}/kcov/bin

script:
- docker build -t travis-ci-build . -f test/Dockerfile
- docker run --rm -d -p 8080:8080 travis-ci-build

after_success: |
  wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
  tar xzf master.tar.gz && cd kcov-master &&
  mkdir build && cd build && cmake .. &&
  make && sudo make install &&  cd ../.. &&
  rm -rf kcov-master && mkdir -p coverage &&
  kcov coverage alpine.sh && bash <(curl -s https://codecov.io/bash)
